<% 
focused_series_ids = ENV["FOCUSED_SERIES_IDS"].split(";").compact
%>

<div class="gridster">
  <ul>

<%
focused_series_ids.each_index { |i|
    project_id, series_id = focused_series_ids[i].split(",")
%>
    <li data-row="1" data-col="<%= i+1 %>" data-sizex="1" data-sizey="1">
      <div data-id="<%= project_id %>_focus_series_<%= series_id %>" data-view="Series" data-title="<%= project_id%> <%= series_id %> series" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>

    <li data-row="2" data-col="<%= i+1 %>" data-sizex="1" data-sizey="1">
      <a href="/<%= project_id %>">more details on <%= project_id%> series</a>
    </li>
<%
}
%>
  </ul>
</div>