<% 
series_ids = ENV["SERIES_IDS"].split(";").compact
project_id = ENV["PROJECT_ID"]
%>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <h1>Project <b><%= project_id%></b> active series </h1>
    </li>

<%
series_ids.each_index { |i|
%>
    <li data-row="2" data-col="<%= i+1 %>" data-sizex="1" data-sizey="2">
      <div data-id="<%= project_id %>_series_<%= series_ids[i] %>" data-view="Series" data-title="<%= series_ids[i] %>" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>
<%
}
%>

    <li data-row="4" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="<%= project_id %>_milestone_untargeted" data-view="Milestone" data-title="Untargeted" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>

    <li data-row="4" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="<%= project_id %>_bugs_untargeted" data-view="Bugs" data-title="Bugs Untargeted" data-min="0" data-max="100" data-cool="20" data-warm="90"></div>
    </li>

  </ul>
</div>
